html, body {
	margin: 0px;
	padding: 0px;
	overflow: auto;
}

body {
	background-color: #000;
}

#generator-stuff button {
	width: 100%;
}

#generator-stuff h4 {
	text-transform: capitalize;
}

#titel {
	text-align: center;
	text-transform: uppercase;
}

#generator-stuff {
	margin: 50px 0px;
	padding: 1rem;
}

#generator-section, #history-section {
	padding: 1rem;
	background-color: white;
	border-radius: 0.5rem;
}

#selectors {
	padding: 10px;
	/* background-color: white; */
	border-radius: 0.5rem;
}

#idea {
	margin: 20px 0px;
	font-size: 2rem;
	/* margin: auto; */
	text-align: center;
	/* width: 90%; */
	transition: all ease-in-out 0.5s;
	/* background-color: white; */
	padding: 10px;
	border-radius: 0.5rem;
}

#center {
	/* width: 1280px; */
	/* margin: auto; */
	margin-top: 100px;
	border-radius: 0.5rem;
	background-color: #ddd;
}

/* #generator-stuff {
	display: grid;
	gap: 1rem;
} */

li {
	transition: all ease-in-out 0.5s;
}

@media only screen and (max-width: 792px) {
	#idea, #selectors, #generator-section, #history-section {
		padding: 0.5rem
	}
}