html, body {
	margin: 0px;
	padding: 0px;
	color: white;
}

body {
	min-height: 100%;
	background: linear-gradient(90deg, #2c2646 0%, #2c3a5c 100%);
}

button {
	width: 100%;
}

#generator-stuff h4 {
	text-transform: capitalize;
}

#titel {
	text-align: center;
	text-transform: uppercase;
	padding: 1rem;
	position: relative;
}

#titel::after {
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 1px;
	background-color: #aaa;
	content: '';
	position: absolute;
}

#generator-stuff {
	padding: 1rem;
}

#generator-section, #history-section {
	padding: 1rem;
	border-radius: 0.5rem;
}

#selectors {
	padding: 10px;
	border-radius: 0.5rem;
}

#idea {
	font-size: 2rem;
	text-align: center;
	transition: all ease-in-out 0.5s;
	padding: 1rem;
	border-radius: 0.5rem;
}

#center {
	border-radius: 0.5rem;
	background-color: #1c1f33;
	border: 1px solid rgb(84, 67, 119);
	/* overflow: auto; */
	box-shadow: 0rem 1rem 5rem 1rem rgba(21, 17, 31, 0.555);
}

.btn {
	font-weight: bold;
	letter-spacing: 0.1rem;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
	background: #9e79da;
	box-shadow: 0rem 0rem 1rem 0.2rem #9e79da;
}

.btn-primary {
	border: 0px;
	background: #7b679c;
	/* box-shadow: 0rem 0rem 0.1rem 0.1rem rgb(123, 103, 156); */
	transition: all ease-in-out 0.2s;
}

#counter-stuff {
	padding: 1rem;
	color: #9d95b6;
	font-size: 12px;
}

#themeing {
	display: none;
}

li {
	transition: all ease-in-out 0.5s;
	/* font-weight: bold; */
	letter-spacing: 0.025rem;
	background: #E5ECE9;
	/* background: linear-gradient(180deg, rgb(246, 240, 255) 0%, rgb(246, 240, 255) 60%, rgb(215, 208, 224) 100%); */
}

@media only screen and (max-width: 792px) {
	#idea, #selectors, #generator-section, #history-section {
		padding: 0.5rem
	}
}